<h1><i class="fa fa-bed"> Patients</i></h1>
<hr>
<form class='form-horizontal'>
<div class='col-md-6'>
	<div class='form-group'>
		<label class='control-label col-sm-3' for='fname'>First Name</label>
		<div class='col-sm-9'>
			<input class='form-control' focus-on='main' type='text' name='fname' tabindex='1'>
		</div>
	</div>
	<div class='form-group'>
		<label class='control-label col-sm-3' for='lname'>Last Name</label>
		<div class='col-sm-9'>
			<input class='form-control' type='text' name='lname' tabindex='2'>
		</div>
	</div>
	<div class='form-group'>
		<label class='control-label col-sm-3' for='dob'>D.O.B.</label>
		<div class='col-sm-9'>
			<input class='form-control' type='date' name='dob' tabindex='3'>
		</div>
	</div>
	<div class='form-group'>
		<div class='col-sm-9 col-sm-offset-3'>
			<button type="submit" class="btn btn-primary col-sm-12" tabindex='6' ng-click="vm.getPatients()">Search</button>
		</div>
	</div>
</div>
<div class='col-md-6'>
	<div class='form-group'>
		<label class='control-label col-sm-3' for='start'>Start Date</label>
		<div class='col-sm-9'>
			<input class='form-control' type='date' name='start' tabindex='4'>
		</div>
	</div>
	<div class='form-group'>
		<label class='control-label col-sm-3' for='end'>Start Date</label>
		<div class='col-sm-9'>
			<input class='form-control' type='date' name='end' tabindex='5'>
		</div>
	</div>
</div>
</form>
<div class='col-md-8 search-results' ng-show="vm.patients.length > 0">
	<h3>Search results:</h3>
	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<th>Accession</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>DOB</th>
				<th>Collection Date</th>
			</tr>
			<tr ng-repeat="patient in vm.patients">
				<td><a href="#/patient-details/{{patient.accn}}">{{patient.accn}}</a></td>
				<td>{{patient.fname}}</td>
				<td>{{patient.lname}}</td>
				<td>{{patient.dob}}</td>
				<td>{{patient.coll}}</td>
			</tr>
		</table>
	</div>
</div>